<!DOCTYPE html>
<html>
  <head>
    <!-- General Settings-->
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="es-ES">
    {{!-- <base href="{global.baseUrl}" @TODO /> --}} 
    <!-- Meta Tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description}}">
    <title>{{title}}</title>
    <!-- Static Assets -->
    <link rel="icon" type="image/x-icon"  href="/images/favicon.ico"/>
    <script charset="utf-8" src="/javascripts/app.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="{{pageclass}}">
    {{{body}}}
  </body>
</html>
